/* card */
.card-container {
	background: #FFFFFF;
	border-radius: 12px;
	box-shadow: 2px 2px 24px 0 rgba(140,140,140,0.50);
	margin: 0 auto;
  max-width: 328px;
  width: 90%;
  padding: 24px 24px 16px 24px;
}

.card-container--success {
  border: 6px solid #5CB461;
}

.card-container--failure {
  border: 6px solid #EC4C4C
}

/* avatar */ 
.image-container {
	border-radius: 1200px;
	width: 280px;
  height: 280px;
  display: block;
  margin: 0 auto;
}


/* button */
.button {
  color: white;
  background: black;
  padding: 20px 68px;
  border-radius: 999px;
  font-size: 20px;
  font-family: ObjectSans-Heavy;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
}
