h3 {
	font-family: ObjectSans-Heavy;
	font-size: 24px;
	color: #000000;
	letter-spacing: -0.3px;

	margin: 0px
}

h4 {
font-family: ObjectSans-Heavy;
font-size: 16px;
color: #000000;
letter-spacing: -0.2px;
}

p {
font-family: ObjectSans-Regular;
font-size: 16px;
color: #000000;
letter-spacing: -0.2px;
line-height: 24px;
}


.micro {
font-family: ObjectSans-Regular;
font-size: 11px;
color: #000000;
letter-spacing: -0.14px;
text-align: right;
line-height: 24px;
}

.card-container {
	
	background: #FFFFFF;
	border-radius: 12px;
	box-shadow: 2px 2px 24px 0 rgba(140,140,140,0.50);
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 24px;
	height: 640px;	
	width: 328px;

}

.profile-container {
	width: 280px;
	height: 280px;
	padding: 24px 24px 16px 24px;
}
.code-container {
	width: 168px;
	height: 168px;
	margin: 0 auto;
	display: block;
	padding-top: 8px;
}
.license-type {

	background: rgba(34,255,1,0.60);
	position: relative;
	height: 8px;
	width: 328px;
	bottom: 4px;

}

.font-center {
	text-align: center;
}

.font-left {
	text-align: left;
	margin: 0px
}
.header-left {
	margin-bottom: 8px;
}

.icon-margin {
	margin-right:8px;
}



.list-item {
	margin: 24px 24px 24px 24px;
	text-align: left;

}
.column {
	display: flex;
}
.row-container {
	display: flex;
	margin: 0px;
	justify-content: space-between;
    align-items: center
}
.shitty-hacky-divider {
	height:10px;
}