@font-face {
  font-family: 'ObjectSans-Heavy';
  src: url('../assets/fonts/objec-sans/ObjectSans-Heavy.otf') format('otf');
}

@font-face {
  font-family: 'ObjectSans-Regular';
  src: url('../assets/fonts/objec-sans/ObjectSans-Regular.otf') format('otf');
}

h1 {
  font-family: ObjectSans-Heavy;
	font-size: 40px;
  color: #000000;
}

h3 {
	font-family: ObjectSans-Heavy;
	font-size: 24px;
	color: #000000;
	letter-spacing: -0.3px;
	text-align: center;
}

h4 {
font-family: ObjectSans-Heavy;
font-size: 16px;
color: #000000;
letter-spacing: -0.2px;
}

p {
font-family: ObjectSans-Regular;
font-size: 16px;
color: #000000;
letter-spacing: -0.2px;
text-align: center;
}


.micro {
font-family: ObjectSans-Regular;
font-size: 11px;
color: #000000;
letter-spacing: -0.14px;
text-align: right;
line-height: 24px;
}